<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <section id="user-profile">
    <div id="user-info">
      <h1>User Name</h1>
      <div id="profile-image"></div>
      
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, ipsum impedit, ipsam ullam vero quam corporis illo tenetur facere harum ipsa excepturi. Nam numquam facere consequuntur qui illum aspernatur voluptates!</p>
    </div>
    
    <button id="location-button">Location</button>
  </section>
  <h3 id="location-heading"></h3>

  <section id="search-section">
    <input type="text" id="search-box" placeholder="Search Vendors">
  </section>

  <section id="vendor-cards">
    <div class="card">
      <div class="vendor-info">
        <h2>Vendor Name 1</h2>
        <div class="vendor-profile-image"></div>
      </div>
      <ul class="menu-list">
        <li>Menu Item 1</li>
        <li>Menu Item 2</li>
        <li>Menu Item 3</li>
      </ul>
      <button id="profile-button">Go to Location</button>
    </div>
    <div class="card">
      <div class="vendor-info">
        <h2>Vendor Name 2</h2>
        <div class="vendor-profile-image"></div>
      </div>
      <ul class="menu-list">
        <li>Menu Item 1</li>
        <li>Menu Item 2</li>
        <li>Menu Item 3</li>
      </ul>
      <button id="profile-button">Go to Location</button>
    </div>
    <div class="card">
      <div class="vendor-info">
        <h2>Vendor Name 3</h2>
        <div class="vendor-profile-image"></div>
      </div>
      <ul class="menu-list">
        <li>Menu Item 1</li>
        <li>Menu Item 2</li>
        <li>Menu Item 3</li>
      </ul>
      <button id="profile-button">Go to Your location</button>
    </div>
  </section>

  

  <script src="userscript.js"></script>
</body>
</html>
